In [202]:
import pandas as pd
import numpy as np
import os

In [203]:
# Loading in the data
budget_csv = "Resources/budget_data.csv"
budget_data = pd.read_csv(budget_csv)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [204]:
# Nummber of months
num_months = len(budget_data.index)

In [205]:
# Total margin
margin_total = budget_data["Profit/Losses"].sum(0)

In [206]:
# Average change
budget_data["net_change"] = budget_data["Profit/Losses"].diff()
mean_change = budget_data["net_change"].sum()/(num_months - 1)

In [207]:
# Greatest increase
budget_data_by_desc = budget_data.sort_values(["net_change"], ascending=False)
budget_data_by_desc
great_inc = []
great_inc = budget_data_by_desc.iloc[[0], :]
inc_date = great_inc["Date"][25]
inc_amount = great_inc["net_change"][25]

In [208]:
# Greatest decrease
budget_data_by_asc = budget_data.sort_values(["net_change"], ascending=True)
budget_data_by_asc
great_dec = []
great_dec = budget_data_by_asc.iloc[[0], :]
dec_date = great_dec["Date"][44]
dec_amount = great_dec["net_change"][44]

In [209]:
# Analysis
analysis_writeup = (
    f"Financial Analysis:\n"
    f"Total Months: {num_months}\n"
    f"Total: ${margin_total}\n"
    f"Average  Change: ${mean_change}\n"
    f"Greatest Increase in Profits: {inc_date} (${inc_amount})\n"
    f"Greatest Decrease in Profits: {dec_date} (${dec_amount})\n")

print(analysis_writeup)

Financial Analysis:
Total Months: 86
Total: $38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [210]:
with open("analysis/financial_analysis.txt", "w") as txt_file:
    txt_file.write(analysis_writeup)